test.custom.ns.handler/src/test/app/namespace/testHandler.xsd

<xsd:schema xmlns="http://www.ibm.com/xmlns/apptest/v1.0.0"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.ibm.com/xmlns/apptest/v1.0.0"
	elementFormDefault="qualified" attributeFormDefault="unqualified"
	version="1.0.0">
	
<xsd:complexType name="Tcomment">
  <xsd:attribute name="text" type="xsd:string"/>
</xsd:complexType>

<xsd:element name="comment" type="Tcomment"/>
	
</xsd:schema>